body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #55b4d4;
}

main {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.game-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #ddd;
    border: 2px solid #888;
}

#snake, #food {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #333;
}

#food {
    background-color: #FF0000;
}
